.mtittle {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    box-sizing: border-box;
    background-color: rgb(143, 125, 206);
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.msection {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.mtittle2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.mp {
    font-size: 20px;
}

.mtittle3 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.msection2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.container_slider {
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0 3px rgb(221, 90, 90);
    border-radius: 15px;
    box-sizing: border-box;
}

.slider {
    display: flex;
    height: 530px;
    margin-left: -100%;
}

.slider_section {
    width: 100%;
}

.slider_img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.slider_btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
}

.slider_btn:hover {
    background-color: white;
}

.slider_btn_left {
    left: 10px;
}

.slider_btn_right {
    right: 10px;
}

.msection3 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.mtittle4 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.container_table {
    width: 550px;
    font-family: monospace;
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 30px;
    box-sizing: border-box;
    border: black 2px solid;
    padding: 5px;
    box-shadow: 0 0 10px #333;
}

.january_table {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(143, 125, 206);
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}

.february_table {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(143, 125, 206);
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}

.march_table {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(143, 125, 206);
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}

.table_item1 {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 1.1em;
}

.table_item2 {
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 1.1em;
    font-weight: bold;
}

.table_item3 {
    display: flex;
    align-items: center;
    font-size: 1.1em;
}

.msection4 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.mtittle5 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.mlocation {
    margin-top: 10px;
    margin-bottom: 20px;
}